.cardGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3.5em;
}
.cardGrid > * {
  flex: calc(20%);
  flex-grow: 1;
}

.img {
  height: 25em;
  width: 25em;
}

h2 {
  text-align: center;
  color: rgb(13, 69, 40);
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  padding-left: 2.2em;
}

.recipePage {
  padding: 0em 3em 4em 3em;
}

.recipeLink {
  color: rgb(24, 144, 82);
}
