nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(24, 144, 82) ;
    color:rgb(219, 213, 213);
    
}
nav h1{
    margin-left: 1.5em;
    width: fit-content;
    border:1px red solid;
    font-weight: 900;
}
.links > * {
    font-size: 1.2em;
    text-decoration: none;
    margin-right:3em;
    font-weight: 600;
    color:rgb(219, 213, 213);
}

